form {
  width: 400px;
  background-color: lightgray;
  border: 1px solid black;
  margin: 20px auto;
  padding: 10px;
}

.formfield {
  padding: 4px;
}

.formfield label {
  font-weight: bold;
  font-size: 24px;
}

.formfield input {
  height: 30px;
  font-size: 24px;
}

.formfield input[type="submit"] {
  border-radius: 30px;
  font-size: 20px;
}
