#banner {
  height: 200px;
  width: 100%;
  /* width: 200px; */
  /* background-color: lightcoral; */

  background-image: repeating-conic-gradient(
    /*  */ #add8e675 0% 25%,
    lightblue 25% 50%
  );
  background-size: 50px 50px;

  display: flex;
  justify-content: center;
}

#banner h1 {
  align-self: center;
  font-size: 100px;
}
