main {
  display: grid;

  grid-template-columns: 1fr 2fr;
  grid-template-rows: 50px 100px 100px 100px 100px 100px;
  grid-gap: 20px 100px;
}

main header {
  grid-column: span 2;
}

main #hero {
  grid-column: span 2;
}

main article {
  grid-row: span 3;
}

main footer {
  grid-column: span 2;
}
