#flexContainer {
  display: flex;
  height: 50px;
  background-color: lightcoral;

  justify-content: space-evenly;
  align-items: center;
}

.link2 {
  align-self: flex-start;
  order: -1;
}

#flexMomma {
  display: flex;
  flex-direction: column;
  background-color: lightslategrey;
  height: 200px;

  align-items: flex-end;
  justify-content: space-between;
}

.thirdItem {
  order: 1;
  background-color: red;
  flex-basis: 200px;
}

#tryContainer {
  width: 100%;
  height: 100px;

  display: flex;
  flex-wrap: wrap;
}

.tryItem {
  width: 25%;
}

.parent {
  width: 600px;
  background-color: brown;
  color: white;

  display: flex;
}

.child {
  flex-grow: 1;
}

.child5 {
  flex-grow: 4;
}
